<div class="py-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
<% @offers.each do |offer| %>
          <div class="col-md-3 p-3">
            <div class="card box-shadow">
              <div class="card-header">
                <ul class="nav card-header-pills counter-header">
                  <li class="nav-item ">
                    <%= link_to raw("<i class=\"fa fa-minus icon-counter\" aria-hidden=\"true\"></i>"), offer_path(offer, offer: {value: '-'}), method: :put,  class:"btn btn-sm btn-outline-info" %>
                  </li>
                  <li class="nav-item text-center text-danger counter mx-1"><i class="fa fa-thermometer-half mr-1" aria-hidden="true"></i><%= offer.score %></li>
                  <li class="nav-item">
                    <%= link_to raw("<i class=\"fa fa-plus icon-counter\" aria-hidden=\"true\"></i>"), offer_path(offer, offer: {value: '+'}), method: :put, class:"btn btn-sm btn-outline-danger"  %>
                  </li>
                </ul>
              </div>
              <a href="offers/<%= offer.id %>"><%= image_tag offer.avatar.url(:medium), class: "card-img-top" %></a>
              <div class="card-body" style="height:210px;">
                <p class="card-title font-weight-bold"><a href="#" class="text-dark" style="height:22px;"><%= offer.name %></a></p>
                <div class="card-price d-flex">
                  <span class="price text-primary font-weight-bold" ><%= offer.actual_price %>zł</span>
                  <span class="old-price text-muted" data-toggle="tooltip" data-placement="right" title="-<%= offer.discount %>%"><%= offer.original_price %>zł</span>
                  <% if offer.tags.first.present? %>
                    <%= form_tag(home_index_path, method: :get) do %>
                      <%= hidden_field_tag :tag, offer.tags.first.name %>
                      <button  class="brand-name badge badge-secondary" type="submit"><%= offer.tags.first.name %></button>
                    <% end %>
<!--                    <a  class="brand-name badge badge-secondary"><%#= offer.tags.first.name %></a>-->
                  <% end %>
                </div>
                <p class="card-text" style="height:66px;"><%= offer.description %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-primary " href="<%= offer.url %>">Go</a>
                    <%= link_to 'View', offer, method: :get, class: "btn btn-sm btn-outline-secondary" %>
                  </div> <small class="text-muted">9 mins</small>
                </div>
              </div>
              <div class="card-footer d-flex flex-row justify-content-between">
                <div class="d-flex flex-nowrap flex-row">
                  <img class="small-avatar mr-2" src="<%= image_url offer.user.avatar.url(:medium), class: "card-img-top" %>"/>
                  <p class="nickname"><a href="#" class="text-dark"><%= offer.user.name %></a></p>
                </div>
                <div class="">
                  <%= link_to raw("<i class=\"fa fa-comments text-secondary\" aria-hidden=\"true\"></i> #{offer.comments.count}"), offer, method: :get, class: "btn btn-sm btn-outline-secondary" %>
                </div>
              </div>
            </div>
          </div>
<% end if @offers.present? %>
        </div>
      </div>
    </div>
  </div>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
<!--    <li class="page-item disabled">-->
<!--      <a class="page-link" href="#" tabindex="-1">Previous</a>-->
<!--    </li>-->
    <% (0..(@all_offers.length/36)).each do |i| %>
      <li class="page-item"><a class="page-link" href="/home/<%= @last_controller %>/<%=i+1%>"><%=i+1%></a></li>
    <% end %>
<!--    <li class="page-item">-->
<!--      <a class="page-link" href="#">Next</a>-->
<!--    </li>-->
  </ul>
</nav>