<div class="container">
  <div class="row pt-4">
    <div class="col-12 col-md-6">
      <div class="card box-shadow sticky">
        <div class="card-header">
          <ul class="nav card-header-pills counter-header">
            <li class="nav-item">
              <%= link_to raw("<i class=\"fa fa-minus icon-counter\" aria-hidden=\"true\"></i>"), offer_path(@offer, offer: {value: '-'}), method: :put,  class:"btn btn-sm btn-outline-info" %>
            </li>
            <li class="nav-item text-center text-danger counter mx-1"><i class="fa fa-thermometer-half mr-1" aria-hidden="true"></i><%= @offer.users.count %></li>
            <li class="nav-item">
              <%= link_to raw("<i class=\"fa fa-plus icon-counter\" aria-hidden=\"true\"></i>"), offer_path(@offer, offer: {value: '+'}), method: :put, class:"btn btn-sm btn-outline-danger"  %>
            </li>
          </ul>

        </div>
        <a href="<%= @offer.id %>"><%= image_tag @offer.avatar.url(:medium), class: "card-img-top" %></a>
        <div class="card-body">
          <p class="card-title font-weight-bold"><a href="<" class="text-dark"><%= @offer.name %></a></p>
<!--          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
          <div class="card-price d-flex">
            <span class="price text-primary font-weight-bold"><%= @offer.actual_price %>zł</span>
            <span class="old-price text-muted" data-toggle="tooltip" data-placement="right" title="-<%= @offer.discount %>%"><%= @offer.original_price %>zł</span>
            <% if @offer.tags.first.present? %>
              <%= form_tag(home_index_path, method: :get) do %>
                <%= hidden_field_tag :tag, @offer.tags.first.name %>
                <button  class="brand-name badge badge-secondary" type="submit"><%= @offer.tags.first.name %></button>
              <% end %>
            <% end %>
          </div>
          <p class="card-text"><%= @offer.description %></p>
          <div class="align-items-center">
            <a class="btn btn-sm btn-primary w-100" href="<%= @offer.url %>">Go</a>
          </div>
        </div>
        <div class="card-footer d-flex flex-row justify-content-between">
          <div class="d-flex flex-nowrap flex-row">
            <% if @offer.user.present? %>
            <img class="small-avatar mr-2" src="<%= image_url @offer.user.avatar.url(:medium), class: "card-img-top" %>" />
            <p class="nickname"><a href="#" class="text-dark"><%= @offer.user.name %></a> <small class="text-muted"> Added: 9 mins </small></p>
            <% end %>
          </div>
          <div class="">
            <%= link_to raw("<i class=\"fa fa-comments text-secondary\" aria-hidden=\"true\"></i> #{@offer.comments.count}"), @offer, method: :get, class: "btn btn-sm btn-outline-secondary" %>
<!--            <a role="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-comments text-secondary" aria-hidden="true"></i> 10</a>-->
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 mx-auto p-3 mt-3 mt-sm-0 rounded-right rounded-left bg-white shadow-lg">
      <h4>Add comment:</h4>
      <%= form_for @comment do |f| %>
        <div class="form-group">
          <%= f.text_field :text , class: "form-control", required: true%><br>

          <%= f.hidden_field :offer_id, value: @offer.id %>
          <%= f.submit "Send", class: "btn btn-primary w-100" %>
        </div>
      <% end %>
      <br>
      <h4 class="border-bottom border-gray pb-2 mb-0">Comments:</h4>

      <% @offer.comments.reverse.each do |comment| %>
        <div class="col">
          <div class="d-flex flex-nowrap flex-row">
            <img class="small-avatar mr-2" src="<%= image_url comment.user.avatar.url(:medium), class: "card-img-top" %>"/>
            <p class="nickname"><a href="#" class="text-dark"><%= comment.user.name %></a></p>

          </div>
          <% if comment.user == current_user %>
            <%= link_to "Delete", comment, method: :delete, class: "btn-danger" %>
          <% end %>
          <p class="border-bottom border-gray pb-2 mb-0">Text: <%= comment.text %></p>

          <br>
        </div>
      <% end %>
    </div>
  </div>

</div>