<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- PAGE settings -->
    <link rel="icon" href="assets/img/favicon.ico">
    <title>Not pepper</title>
    <meta name="description" content="Site for &quot;cebula&quot;">
    <meta name="keywords" content="cebula, sale, promo code, coupon">
    <meta name="author" content="NOT PEPPER">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar12">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbar12"> <a class="navbar-brand d-none d-md-block" href="/"><i class="fa fa-fw fa-free-code-camp text-primary"></i>&nbsp;NOT PEPPER</a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item dropdown bg-dark">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tags&nbsp;</a>
            <div class="dropdown-menu dropdown-menu-right">
              <% Tag.all.each do |tag| %>
                <%= form_tag(home_index_path, method: :get) do %>
                  <%= hidden_field_tag :tag, tag.name %>
                  <button class="dropdown-item" type="submit"><%= tag.name %></button>
                <% end %>
              <% end %>
            </div>
          </li>
          <li class="nav-item"> <a class="nav-link" href="/">Hot</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/home/new">New</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/home/commented">Commented</a> </li>
          <% if user_signed_in? %>
            <li class="nav-item"> <a class="nav-link" href="/home/by_user">By your tags</a> </li>
          <% end %>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <div class="form-group row">
            <div class="col-10">
              <div class="input-group">
                <%= form_tag(request.fullpath, method: :get) do %>
                  <%= text_field_tag :text, @search_text, class: "form-control", placeholder: "Enter text"  %>
                  <div class="input-group-append">
                    <button name="button" type="submit" class="btn btn-sm active btn-outline-light"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </form>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <li class="nav-item"> <%= link_to 'Add new offers', offers_path, class:"btn btn-default" %></li>
            <li class="nav-item"> <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %> </li>
            <li class="nav-item"> <%= link_to 'Edit tags', tags_path  , :class => 'nav-link' %> </li>
            <li class="nav-item"> <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-primary'  %> </li>
          <% else %>
            <li class="nav-item"> <a class="nav-link cursor-poiter" data-toggle="modal" data-target="#loginModal">Login</a> </li>
            <li class="nav-item"> <%= link_to "Register", new_user_registration_path,  :class => 'btn btn-primary'  %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid bg-primary ">
    <div class="row">
      <div class="col-sm-12">
        <% if flash[:alert].present? %>
          <h2 class="text-center m-2"><%=flash[:alert] %></h2>
        <% elsif @offer.present? && @offer.errors.any? %>
          <h2 class="text-center m-2"><%= @offer.errors.full_messages.first %></h2>
        <% elsif @last_controller.present? && !@offers.present? %>
          <h2 class="text-center m-2">Nie ma ofert na tej stronie</h2>
        <% else %>
          <h2 class="text-center m-2">Jesteś super!</h2>
        <% end %>
      </div>
    </div>
  </div>

    <%= yield %>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="text-center mx-auto col-md-12">
          <h1>Testimonials</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 p-4 text-center"> <i class="d-block fa fa-amazon mb-2 text-muted fa-3x"></i>
          <p class="mb-3"> <i>"I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks."</i> </p>
          <p class="mb-1"> <b>J. W. Goethe</b> </p>
          <p class="mb-0">CEO and founder</p>
        </div>
        <div class="col-lg-4 col-md-6 p-4 text-center"> <i class="d-block fa fa-paypal mb-2 text-muted fa-3x"></i>
          <p class="mb-3"> <i>"Oh, would I could describe these conceptions, could impress upon paper all that is living so full and warm within me, that it might be the mirror of my soul, as my soul is the mirror of the infinite God!"</i> </p>
          <p class="mb-1"> <b>G. W. John</b> </p>
          <p class="mb-0">Co-founder</p>
        </div>
        <div class="col-lg-4 p-4 text-center"> <i class="d-block fa fa-maxcdn mb-2 text-muted fa-3x"></i>
          <p class="mb-3"> <i>"I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks, and grow familiar with the countless indescribable forms of the insects and flies."</i> </p>
          <p class="mb-1">
            <b>J. G. Wolf</b> </p>
          <p class="mb-0">Evangelist</p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-6 p-3">
          <h5> <b>Main</b> </h5>
          <ul class="list-unstyled">
            <li> <a href="#">Home</a> </li>
            <li> <a href="#">Features</a> </li>
            <li> <a href="#">Pricing</a> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-6 p-3">
          <h5> <b>Others</b> </h5>
          <ul class="list-unstyled">
            <li> <a href="#">FAQ</a> </li>
            <li> <a href="#">Resources</a> </li>
            <li> <a href="#">Career</a> </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <h5> <b>About</b> </h5>
          <p class="mb-0"> I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls.</p>
        </div>
        <div class="col-lg-3 col-md-6 p-3">
          <h5> <b>Follow us</b> </h5>
          <div class="row">
            <div class="col-md-12 d-flex align-items-center justify-content-between my-2">
              <a href="#">
                <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
              </a>
              <a href="#">
                <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
              </a>
              <a href="#">
                <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
              </a>
              <a href="#">
                <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
              </a>
              <a href="#">
                <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
              </a>
              <a href="#">
                <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
              </a>
            </div>
          </div>
          <p class="float-right my-3">
            <a href="#">Back to top</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0 mt-2">© 2018-2018 NOT PEPPER. All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>


  <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="modal">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-auto">
            <div class="card bg-primary">
              <div class="card-body text-center">
                <div class="row mt-5">
                  <div class="col-md-12">
                    <h5 class="mb-4">
                      <b>SIGN UP</b>
                    </h5>
                  </div>
                </div>
                <div class="row mt-4 pt-2">
                  <div class="col">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
                      <div class="form-group mb-2">
                        <div class="input-group border-0">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="now-ui-icons users_circle-08 lg"></i></span>
                          </div>
                          <%# f.email_field :name, autofocus: true, autocomplete: "name", class:"form-control", placeholder:"Nickname..." %>
                          <input type="text" class="form-control" id="nicknameInputForm" placeholder="Nickname...">
                        </div>
                      </div>
                      <div class="form-group mb-3">
                        <div class="input-group border-0">
                          <div class="input-group-prepend "><span class="input-group-text" id="basic-addon1"><i class="now-ui-icons ui-1_email-85 lg"></i></span>
                          </div>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email..." %>
                        </div>
                      </div>
                      <div class="form-group mb-2">
                        <div class="input-group border-0">
                          <div class="input-group-prepend ">
                            <span class="input-group-text" id="basic-addon1"><i class="now-ui-icons text_caps-small lg"></i></span>
                          </div>
                          <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                          <% end %><br />
                          <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password..." %>
                        </div>
                      </div>
                      <div class="form-group mb-2">
                        <div class="input-group border-0">
                          <div class="input-group-prepend ">
                            <span class="input-group-text" id="basic-addon1"><i class="now-ui-icons text_caps-small lg"></i></span>
                          </div>
                          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Repeat Password..." %>
                        </div>
                      </div>
                      <%= f.submit "Sign up", class: "btn mt-4 mb-3 btn-light rounded btn-lg text-primary" %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="mx-auto">
            <div class="card bg-primary">
              <div class="card-body text-center">
                <div class="row mt-5">
                  <div class="col-md-12">
                    <h5 class="mb-4">
                      <b>Login</b>
                    </h5>
                  </div>
                </div>
                <div class="row mt-4 pt-2">
                  <div class="col">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>
                      <div class="form-group mb-2">
                        <div class="input-group border-0">
                          <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon1">
                                                    <i class="now-ui-icons users_circle-08 lg"></i>
                                                    </span>
                          </div>
                          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Login...", class: "form-control" %>
                        </div>
                      </div>

                      <div class="form-group mb-2">
                        <div class="input-group border-0">
                          <div class="input-group-prepend ">
                                                    <span class="input-group-text" id="basic-addon1">
                                              <i class="now-ui-icons text_caps-small lg"></i>
                                            </span>
                          </div>
                          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password...", class: "form-control"  %>
                        </div>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                        <div class="field">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>

                      <div class="actions">
                        <%= f.submit "Log in", class: "btn mt-4 mb-3 btn-light rounded btn-lg text-primary" %>
                      </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
